* {
  box-sizing: border-box;
}

/* body {
  margin: 10;
  padding: 10;
} */

#container {
  border: 1px red solid;
  display: flex;
  flex-direction: row;
  height: 50vh;
}

.icon {
  border: dotted 1px orange;
  margin: 8px;
}

.box {
  border: dotted 1px purple;
  margin: 8px;
}

.col {
  border: 1px red solid;
}

.w10 {
  width: 10%;
}

.h20 {
  height: 20%;
}

.h40 {
  height: 40%;
}

.h80 {
  height: 80%;
}

.w20 {
  width: 20%;
}

.w70 {
  width: 70%;
}
